<div class="row">
	<div class="col-md-10">
		<div class="panel panel-info">
			<div class="panel-heading"> <label>City Pickup</label></div>
			<div class="panel-body form-group">
				<table class="table table-hover table-striped col-md-9">
					<thead>
						<tr>
							<th class="col-md-3">Country</th>
							<th class="col-md-3">State</th>
							<th class="col-md-3">City</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in tableDemo.rows">
							<td>
								<select class="form-control" ng-model="row.country" ng-change="row.states=tableDemo.findStates(row.country);row.cities=[]">
									<option ng-repeat="data in tableDemo.city.cities">{{data.country}}</option>
									<option></option>
								</select>
							</td>
							<td>
								<select class="form-control" ng-model="row.state" ng-change="row.cities=tableDemo.findCities(row.states,row.state)" ng-if="row.country">
									<option ng-repeat="state in row.states">{{state.state}}</option>
									<option></option>
								</select>
							</td>
							<td>
								<select class="form-control" ng-model="row.city" ng-change="" ng-if="row.state&&row.country">
									<option ng-repeat="city in row.cities">{{city}}</option>
									<option></option>
								</select>
							</td>

						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary" ng-click="tableDemo.addRow()">Add</button>
				<button class="btn btn-primary" ng-click="tableDemo.removeRow()">Remove</button>
			</div>
		</div>
	</div>
</div>
