<div class="row">
	<div class="col-md-10">
		<div class="panel panel-success">
			<div class="panel-heading text-primary" data-toggle="collapse" data-target="#tablediv">Plain Bootstrap Table (Collapsible) </div>
			<div class="panel-body" id="tablediv">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>S.no</th>
							<th>BankName</th>
							<th>IFSC Code</th>
							<th>Branch</th>
						</tr>
					</thead>
					<tbody>
						<tr class="success">
							<td>1</td>
							<td>UCO</td>
							<td>UCBA2344232</td>
							<td>Korattur</td>
						</tr>
						<tr class="danger">
							<td>2</td>
							<td>Canara</td>
							<td>CNRB169556444</td>
							<td>Korattur</td>
						</tr>
						<tr>
							<td>3</td>
							<td>HDFC</td>
							<td>HDFC16516456423</td>
							<td>Korattur</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">Plain Bootstrap Table</div>
			<div class="panel-body">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>S.no</th>
							<th>BankName</th>
							<th>IFSC Code</th>
							<th>Branch</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>UCO</td>
							<td>UCBA2344232</td>
							<td>Korattur</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Canara</td>
							<td>CNRB169556444</td>
							<td>Korattur</td>
						</tr>
						<tr>
							<td>3</td>
							<td>HDFC</td>
							<td>HDFC16516456423</td>
							<td>Korattur</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
