<div class="row">
	<div class="col-md-12"></div>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4><label class="text-primary">This is a table in a panel</label></h4>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<td>#</td>			
								<td>A</td>
								<td>B</td>
								<td>C</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1.</td>
								<td>val1</td>
								<td>val2</td>
								<td>val3</td>
							</tr>
							<tr>
								<td>2.</td>
								<td>val1</td>
								<td>val2</td>
								<td>val3</td>
							</tr>
							<tr>
								<td ng-model="awe" ng-repeat="awe in wkcg.awesomeThings">{{awe}}</td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4><label class="text-primary">This is a input text box</label></h4>
				</div>
				<div class="panel-body">
					<input type="text" ng-model="text1"/>
				</div>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4><label class="text-primary">You are typing</label></h4>
				</div>
				<div class="panel-body">
					<label ng-binding="text1">{{text1}}</label>
				</div>
			</div>
			
		</div>
	</div>
</div>